default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: pizza_development

test:
  <<: *default
  database: pizza_test

production:
  <<: *default
  database: pizza_production
  username: pizza
  password: <%= ENV["PIZZA_DATABASE_PASSWORD"] %>
